<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <h1>Harkirat Tech</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Serach Start ***** -->
                
                    <!-- ***** Serach Start ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li class="scroll-to-section"><a href="home" >Home</a></li>
                      <li class="scroll-to-section"><a href="services">Services</a></li>
                      <li class="scroll-to-section"><a href="our-work">Our Work</a></li>
                      <li class="scroll-to-section"><a href="team">Team</a></li>
                      <li class="scroll-to-section"><a href="contact">Contact Us</a></li>
                      <li class="scroll-to-section"><b>WELCOME <%=name%> !</b></li>
                      <li class="scroll-to-section"><a href="/users/logout">
                        Logout</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->