<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-scholar.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  
<!--

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->


    <%- include ("./partials/navbar") %>



    <div class="main-banner" id="top">
      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-carousel owl-banner">
              <div class="item item-1">
                <div class="header-text">
                  <span class="category">Service</span>
                  <h2>Managed IT Services</h2>
                  <p>Our managed IT services are designed to help businesses of all sizes stay up-to-date with the latest technology while minimizing downtime and reducing costs.</p>
                  <div class="buttons">
                    <div class="main-button">
                      <a href="#">Know More</a>
                    </div>
                    <div class="icon-button">
                      <a href="#"><i class="fa fa-play"></i> What's Managed Services?</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item item-2">
                <div class="header-text">
                  <span class="category">Service</span>
                  <h2>Cybersecurity</h2>
                  <p> Our cybersecurity services help businesses protect their critical data from cyber threats such as malware, ransomware, and phishing attacks..</p>
                  <div class="buttons">
                    <div class="main-button">
                      <a href="#">Know More</a>
                    </div>
                    <div class="icon-button">
                      <a href="#"><i class="fa fa-play"></i>What's CyberSecure Applications</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item item-3">
                <div class="header-text">
                  <span class="category">Support</span>
                  <h2>IT Support</h2>
                  <p>Our IT support services are available 24/7 to ensure that businesses always have access to the technical support they need.</p>
                  <div class="buttons">
                    <div class="main-button">
                      <a href="#">Know More</a>
                    </div>
                    <div class="icon-button">
                      <a href="#"><i class="fa fa-play"></i> What's Online Support?</a>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
   
    <div class="section about-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-1">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What services does your IT company offer?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    We offer a wide range of IT services, including managed IT services, cloud solutions, cybersecurity, consulting services, and IT support.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What industries does your company serve?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    We serve businesses across a variety of industries, including healthcare, finance, education, government, and more.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do you ensure the security of your clients' data?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    We take data security very seriously and have multiple measures in place to protect our clients' data. These include advanced encryption, regular security updates, and multi-factor authentication.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How do I know if my business needs managed IT services?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    If your business relies on technology to operate, you can benefit from managed IT services. This includes businesses of all sizes, from small startups to large enterprises.</code>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 align-self-center">
            <div class="section-heading">
              <h6>About Us</h6>
              <h2>What make us the best ?</h2>
              <p>We provide innovative and reliable IT solutions to its clients. At our IT company, we believe that several key factors contribute to our success in delivering top-notch online IT services</p>
              <div class="main-button">
                <a href="#">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    
  
    <div class="section testimonials">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="owl-carousel owl-testimonials">
              <div class="item">
                <p>"Our business has been working with this IT Services Company for over two years, and we couldn't be happier with their services. Their team is professional, knowledgeable, and always available when we need them. They've helped us streamline our IT operations, reduce downtime, and improve our overall efficiency. We highly recommend them to any business looking for top-notch IT services."</p>
                <div class="author">
                  <img src="assets/images/testimonial-author.jpg" alt="">
                  <span class="category">CEO of a healthcare company</span>
                  <h4>John</h4>
                </div>
              </div>
              <div class="item">
                <p>“As a small business owner, I was hesitant to invest in IT services, but I'm so glad I did. This IT Services Company has been a game-changer for my business. Their team helped me migrate to the cloud, which has saved me time and money, and their cybersecurity services have given me peace of mind. They're always available when I need them, and their pricing is fair and transparent. I highly recommend them to any business looking to improve their IT operations”</p>
                <div class="author">
                  <img src="assets/images/testimonial-author.jpg" alt="">
                  <span class="category">Owner of a small retail business</span>
                  <h4>Sarah</h4>
                </div>
              </div>
              <div class="item">
                <p>“We've been working with this IT Services Company for several years, and we consider them a true partner in our business. Their team has helped us navigate complex IT challenges, and their expertise has been invaluable to our success. They provide us with customized solutions that meet our unique needs, and their customer service is exceptional. We wouldn't trust our IT operations to anyone else.”</p>
                <div class="author">
                  <img src="assets/images/testimonial-author.jpg" alt="">
                  <span class="category">CEO of a manufacturing company</span>
                  <h4>Mark</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 align-self-center">
            <div class="section-heading">
              <h6>TESTIMONIALS</h6>
              <h2>What they say about us?</h2>
              <p>"Working with this company has been a great experience. Their team is knowledgeable, professional, and always goes above and beyond to help us. They have provided us with customized IT solutions that have helped us streamline our operations and improve our overall efficiency. We highly recommend them to anyone looking for top-notch IT services</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  


    <footer>
      <div class="container">
        <div class="col-lg-12">
          <p>Copyright 2023 ©  Harkirat Singh Created for Assesment of Round 2 Xenonstack.</p>
        </div>
      </div>
    </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/counter.js"></script>
  <script src="assets/js/custom.js"></script>

  </body>
</html>