<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Our Work</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-scholar.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <style>
        .main-banner{
    padding:26px 0px 98px 0px;
        }
    </style>
<!--

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->



  <div class="main-banner" id="top">
    <%- include ("./partials/navbar") %>
  </div>

  <section class="section courses" id="courses" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Latest Projects</h6>
            <h2>Work</h2>
          </div>
        </div>
      </div>
      <ul class="event_filter">
        <li>
          <a class="is_active" href="#!" data-filter="*">Show All</a>
        </li>
        <li>
          <a href="#!" data-filter=".design">Webdesign</a>
        </li>
        <li>
          <a href="#!" data-filter=".development">Development</a>
        </li>
        <li>
          <a href="#!" data-filter=".wordpress">Wordpress</a>
        </li>
      </ul>
      <div class="row event_box">
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="#"><img src="https://img.freepik.com/free-vector/cartoon-web-design-landing-page_52683-70880.jpg" alt=""></a>
              <span class="category">Webdesign</span>
              <span class="price"><h6><i class="bi bi-check-circle-fill"></i></h6></span>
            </div>
            <div class="down-content">
              <span class="author">Stella Blair</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6  development">
          <div class="events_item">
            <div class="thumb">
              <a href="#"><img src="https://wpengine.com/wp-content/uploads/2019/02/site-portal-2.png" alt=""></a>
              <span class="category">Development</span>
              <span class="price"><h6><i class="bi bi-check-circle-fill"></i></h6></span>
            </div>
            <div class="down-content">
              <span class="author">Cindy Walker</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design wordpress">
          <div class="events_item">
            <div class="thumb">
              <a href="#"><img src="https://mllj2j8xvfl0.i.optimole.com/cb:pJlS~36fbd/w:1396/h:810/q:90/f:avif/https://themeisle.com/blog/wp-content/uploads/2018/07/wordpress-examples-smart-chameleon.png" alt=""></a>
              <span class="category">Wordpress</span>
              <span class="price"><h6><i class="bi bi-check-circle-fill"></i></h6></span>
            </div>
            <div class="down-content">
              <span class="author">David Hutson</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 development">
          <div class="events_item">
            <div class="thumb">
              <a href="#"><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/3_WordPress-websites.jpg" alt=""></a>
              <span class="category">Development</span>
              <span class="price"><h6><i class="bi bi-check-circle-fill"></i></h6></span>
            </div>
            <div class="down-content">
              <span class="author">Stella Blair</span>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress development">
          <div class="events_item">
            <div class="thumb">
              <a href="#"><img src="https://kinsta.com/wp-content/uploads/2016/10/college-choice-wordpress-sites.jpg" alt=""></a>
              <span class="category">Wordpress</span>
              <span class="price"><h6><i class="bi bi-check-circle-fill"></i></h6></span>
            </div>
            <div class="down-content">
              <span class="author">Sophia Rose</span>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress design">
          <div class="events_item">
            <div class="thumb">
              <a href="#"><img src="https://assets.hongkiat.com/uploads/free-wordpress-ecommerce-themes/1-free-ecommerce-wordpress-themes.jpg" alt=""></a>
              <span class="category">Webdesign</span>
              <span class="price"><h6><i class="bi bi-check-circle-fill"></i></h6></span>
            </div>
            <div class="down-content">
              <span class="author">David Hutson</span>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 
  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Copyright 2023 ©  Harkirat Singh Created for Assesment of Round 2 Xenonstack.</p>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/counter.js"></script>
  <script src="assets/js/custom.js"></script>

  </body>
</html>